/* Start variables */
:root {
  --main-color: #c51717e1;
  --secondary-color: #777;
  --background-color: #1f2021;
  --transparent-color: rgb(200 0 0 / 55%);
  --section-padding: 100px;
}
.web_icon {
  background-color: red;
  size: 500px;
}
body {
  overflow-x: hidden;
  position: relative;
}
/* end variables */
/* Start golobal rules */
* {
  -webkit-scrollbar: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html {
  scroll-behavior: smooth;
  
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component  */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  margin: 40px auto;
  border: 2px solid #a2a2a200;
  padding: 10px 20px;
  width: fit-content;
  z-index: 1;
  transition: 1s;
}
@media (max-width: 500px) {
  .main-heading h2 {
    font-size: 30px;
  }
}
.main-heading h2:hover {
  border: 2px solid var(--secondary-color);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--transparent-color),
    0 0 40px var(--transparent-color), 0 0 60px var(--transparent-color);
    
}
.main-heading h2::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;

  animation-name: right-move-reverse;
  animation-duration: 0.7s;
  transition: 0.5s;
}
.main-heading h2::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease;
  z-index: -1;
  animation-name: left-move-reverse;
  animation-duration: 0.7s;
  transition: 0.5s;
}


.main-heading h2:hover::after {
  z-index: -1;
  animation: left-move 0.7s linear forwards;
  transition: 0.5s;
}
.main-heading h2:hover::before {
  z-index: -1;
  animation: right-move 0.7s linear forwards;
  transition: 0.5s;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50.1%;
    height: 102%;
  }
}
@keyframes left-move-reverse {
  
  0% {
    left: 0;
    border-radius: 0;
    width: 50.1%;
    height: 102%;
  }
  
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: -30px;
    width: 12px;
    height: 12px;

  }

  

}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 102%;
  }
}
@keyframes right-move-reverse {
  0% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 102%;
  }
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: -30px;
    width: 12px;
    height: 12px;
  }
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: var(--secondary-color);
}
.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* End Component  */
/* Start loading */


.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  bottom: calc(40% + 450px);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, var(--main-color) 0%, var(--background-color) 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }

}
/* End loading */



/* Start Header */

header {
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: 2;

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container:after {
  content: "";
  background: #a2a2a2;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 15px;
  position: absolute;
}


.container .logo img {
  height: 125px;
  left: 25px;
  top: -10px;
  position: absolute;
  transition: 0.2s ease-in-out;

}

.container .logo img:hover {
  height: 130px;
  left: 23px;
  
}
.header .container img {
  height: 40px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .navbar__toggle {
    display: none;
  }
}
header nav ul {
  display: flex;
}

header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;

  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}
@media (min-width: 1662px) {
  header .container:after {
    content: "";
    background: #a2a2a2;
    width: calc(135%);
    height: 1px;
    bottom: 0;
    left: -200px;
    position: absolute;
  }
  .container .logo img {
    height: 115px;
    left: -200px;
    top: -10px;
    position: absolute;
    transition: 0.2s ease-in-out;
  }
  .container .logo img:hover {
    height: 125px;
    left: -205px;
  }
  header nav {
    margin-right: -200px;
  }

  header nav ul li a {
    padding: 40px 25px;
  }
}
header nav ul li a:hover,
header nav ul li a.act__ive {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
@media (max-width: 767px) {
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
  }
  header nav ul li a {
    font-size: 24px;
  }

  .navbar__menu {
    position: absolute;
    width: 100%;
    right: 0px;
    top: -1500px;
  }
  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 86vh;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.925);
  }
  header nav .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header */
/* Start landing */

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/landing2.jpg");
  background-image: url("../images/landing1.jpg");
  background-image: url("../images/landing0.jpg");
  background-position: center;
  transition: 0.7s ease-in-out;
  background-size: cover;
  position: relative;
  box-shadow: 0px 15px 15px rgba(10, 10, 10, 0.308);
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  font-family: "Poppins", sans-serif;

  transform: translateY(-50%);
  width: 45%;
  padding: 50px;
  padding-left: -50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
  box-shadow: 5px 15px 10px rgba(59, 3, 3, 0.3);
  transition: 0.5s ease-in-out;
}

.landing .text .content {
  max-width: 500px;
}
.landing .text .content .location {
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 70%;
  font-size: 20px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  background-color: #111;
  
  transition: 0.3s;
}

.landing .text .content .location button {
  color: white;
  border: none;

  font-size: 16px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  background-color: #111;
  
}
.landing .text .content .location:hover{
  padding-left: 25px; 
}


/* .landing .text .content button:hover{
  background-color: var(--main-color);
} */

.landing .text .content h2 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;

  font-size: 45px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 15px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

.landing .fa-angle-left {
  cursor: pointer;
  left: 40px;
  transition: 0.5s ease;
  position: absolute;
  padding: 15px;
  border-radius: 30px;
  top: calc(50% + 15px);
}

.landing .fa-angle-left:hover {
  background-color: rgba(255, 0, 0, 0.171);
  padding: 15px;
  font-size: 20px;
  left: 45px;
}
.landing .fa-angle-right {
  right: 40px;
  cursor: pointer;
  transition: 0.5s ease;
  position: absolute;
  padding: 15px;
  border-radius: 30px;
  top: calc(50% + 15px);
}
.landing .fa-angle-right:hover {
  background-color: rgba(255, 0, 0, 0.171);
  padding: 15px;
  font-size: 20px;
  right: 45px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  cursor: pointer;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  transition: 0.7s ease-in-out;
}
@media (max-width: 1210px) {
  .landing .text .content .location  {
    margin-left:50%;
    padding: 10px 25px;
    
  }

}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text {
    background-color: rgba(245, 0, 0, 0.062);
  }
  .landing .text .content h2 {
    font-size: 20px;
  }
  .landing .text .content p {
    font-size: 12px;
  }
  .landing .change-background {
    display: none;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
/* End landing */
/* Start Services */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--background-color);
  color: white;
  box-shadow: 0px 15px 20px rgba(10, 10, 10, 0.508);
}
.services h2 {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
.services .icon__img {
  position: relative;
  height: 90px;
  margin-right: 20px;
  transition: 0.8s ease-in-out;

  border-radius: 20px;
}
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
}

.services #selected {
  animation: up-and-down 2s ease-in-out infinite;
  border: 2px solid white;
  border-radius: 50px;
  background-color: rgba(245, 0, 0, 0.275);
}
.services .srv-box {
  display: flex;
  margin: 10px;
}

.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .services .srv-box i {
    margin: 0 0 30px;
  }
  .services .icon__img {
    width: 15%;
    height: 15%;
    margin-left: 43%;
  }
}

.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
  transition: 2s ease-in-out;
}

@media (min-width: 767px) {
  @keyframes left-toright {
    0% {
      width: 0;
    }
    100% {
      width: 100px;
    }
  }
  .services .srv-box ::after {
    content: "";

    height: 1.5px;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0);
    display: block;
  }
  .services .srv-box .selected::after {
    content: "";
    width: 100px;
    height: 1.5px;
    margin-top: 2px;
    transition: 0.5s;
    background: white;
    display: block;
    animation: left-toright 0.8s ease-in-out;
  }
}
.services .srv-box p {
  line-height: 2;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
/* End Services */

/* Start Portfolio games */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.portfolio .shuffle li {
  padding: 10px;
  margin-left: 3px;
  transition: 0.5s;
}
.portfolio .shuffle li:hover {
  background: var(--main-color);
  color: white;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
  pointer-events: none;

  filter: blur(1.4px) saturate(0.05) brightness(0.5);
  transition: 0.8s ease-in-out;
}

.portfolio .imgs-container .box:hover .caption {
  bottom: -10px;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 15px;
  background-image: url("../images/gamesbackground.jpg");
  background-color: white;
  background-size: cover;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
  color: var(--background-color);
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;

  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}
.portfolio .more:hover {
  background-color: #111;
}
.portfolio .imgs-container .filtred {
  pointer-events: all;
  /* border: 2px solid transparent; */
  border-radius: 10px;

  filter: blur(0px) saturate(1) brightness(1.1);
  transition: 0.8s ease-in-out;
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.164);
}
@media (max-width: 767px) {
  .video .text {
    max-height: 150px;
  }
  .video {
    display: none;
  }
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(255, 0, 0, 0.014);
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--main-color);
  
}
.video .text button:hover{
  background-color: black;
  
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
   /* background-image: url("../images/aboutback.png"); */

}


.about .bus {
  width: 20%;
  position: relative;
  left: 30%;
  z-index: 5;
  animation: up__and__down 3s ease-in-out infinite;
}
@keyframes up__and__down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -30px;
  }
}
.about p {
  z-index: 4;
  position: relative;
  top: -50px;
}
.about img {
  position: relative;
  bottom: -5px;
  margin-top: -180px;
  max-width: 100%;
}
@media (max-width: 975px) {
  .about img {
    bottom: -108px;
  }
}
@media (max-width: 767px) {
  .about img {
    display: none;
  }
}
/* End About */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  background-color: white;
}

.stats h2 {
  color: var(--background-color);
}
.stats .container .img1 {
  width: 25%;
  position: absolute;
  left: 5%;
  padding-left: -150px;
  box-shadow: 0px 25px 15px -15px rgba(17, 17, 17, 0.274);
}
.stats .container .img2 {
  width: 25%;
  position: absolute;
  right: 5%;
  padding-left: -150px;
  box-shadow: 0px 25px 15px -15px rgba(17, 17, 17, 0.274);
}
@media (max-width: 762px) {
  .stats .container img {
    display: none;
  }
}

.stats .container h3 {
  font-weight: normal;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  margin: 100px auto;
  width: fit-content;
  top: 10px;
  z-index: 15;
  color: whitesmoke;
  background-color: white;
  padding: 30px;
}
.stats .container h3::before {
  content: "";
  position: absolute;
  left: 5%;
  top: 15%;
  width: 90%;
  height: 70%;
  z-index: -1;
  background-color: var(--background-color);
}
.stats .container .cloak {
  border: 3px solid var(--background-color);
  width: 550px;
  height: 550px;
  margin: 100px auto;
  z-index: 12;
  
  border-radius: 300px;
  position: relative;
  top: -200px;
  box-shadow: 0px 10px 15px rgba(51, 51, 51, 0.349);
  transition: 0.7s;
}
.stats .container .cloak:hover{
  box-shadow: 0px 20px 15px rgba(51, 51, 51, 0.349);
  
}

.stats .container .cloak .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin: 8px auto;
  top: 20%;
  color: var(--background-color);
}
.stats .container .cloak .day h1 {
  padding-right: 35px;
}
.stats .container .cloak .day span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-family: "Mochiy Pop P One", sans-serif;
  color: var(--main-color);
  font-size: 18px;
  /* font-weight: bold; */
}
@media (max-width: 975px) {
  .stats .container .cloak {
    border-radius: 300px;
    width: 400px;
    height: 400px;
  }
  .stats .container .cloak .day {
    font-size: 10px;
    margin: 5px auto;
    top: 25%;
    color: var(--background-color);
  }
}
@media (max-width: 450px) {
  .stats .container .cloak {
    border-radius: 300px;
    width: 300px;
    height: 300px;
  }
  .stats .container h3 {
    font-size: 20px;
    top: -10px;
  }
  .stats .container .cloak .day {
    font-size: 7px;
    margin: 1px auto;
    top: 30%;
    color: var(--background-color);
  }
  .stats .container .cloak .day span {
    font-size: 12px;
  }
}

/* End Stats */

/* Start Pricing */
.pricing {
  padding-top: 5px;
  padding-bottom: var(--section-padding - 400px);
  color: #1f2021;
  
}

.pricing .plans .plan img {
  width: 100px;
  margin-right: -250px;
  margin-top: -50px;
}
.pricing .main-heading h2 {
  color: white;
}
.pricing .plans {
  
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); 
  
  /* grid-template-columns: 300px 300px;  for 2 plans */  

  justify-content: center;
  
  gap: 10%; 
  
  
}
@media (max-width: 767px) {
  .pricing .plans{
    display: grid;
    
grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  

    
    gap: 150px; 
  }}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
  padding: 20px;
  background-color: #ddd;
  transition: 0.5s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  
}
.pricing .plans .plan.premium {
  background-color: #fcfcfc;
  text-align: center;
  padding: 20px;
  background-color: #ffee8c;
  transition: 0.5s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  
}

.pricing .plans .plan:hover {
  position: relative;
  margin-top: -20px;
  margin-bottom: +20px;
  
  box-shadow: rgba(170, 170, 170, 0.466) 0px 0px 25px;

}
.pricing .plans .plan::before{
  content: "";
  position: absolute;
  top: 300px;
  left: 50%;
  width:500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%);
  border-radius: 40%;
  animation-name: reverse;
  animation-duration: 1s;
  z-index: -1;
}
.pricing .plans .plan:hover::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width:500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%);
  border-radius: 40%;
  animation:fill 2s ease-in-out alternate;
  z-index: -1;
  
  
}
.pricing .plans .plan.premium::before{
  content: "";
  position: absolute;
  top: 300px;
  left: 50%;
  width:500px;
  height: 500px;
  background-color: #ffe342;
  transform: translateX(-50%);
  border-radius: 40%;
  animation-name: reverse;
  animation-duration: 1s;
  z-index: -1;
}
.pricing .plans .plan.premium:hover::before{
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  width:500px;
  height: 500px;
  background-color: #ffe342;
  transform: translateX(-50%);
  border-radius: 40%;
  animation:fill 2s ease-in-out alternate;
  z-index: -1;
  
  
}


@keyframes fill {
  from {
    top: 300px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: -100px;
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes reverse {
  from {
    
    top: -100px;
    transform: translateX(-50%) rotate(360deg);
  }
  to {
    top: 300px;
    transform: translateX(-50%) rotate(0deg);
  }
}


.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "DA";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "1/Hr";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing .plans .plan .head.pro span::after {
  content: "3/Hr";
}
.pricing .plans .plan .head.premium span::after {
  content: "5/Hr";
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--background-color);
}
.pricing .plans .plan ul li {
  font-size: 20px;
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li.banned {
  text-decoration: line-through;
  text-decoration-color: red;
}

.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--background-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: var(--main-color);
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  transition: 0.4s;
}
.pricing .contact-link:hover {
  background-color: #111;
}
.pricing .contact-text {
  display: block;
  width: fit-content;
  margin: 20px auto;
  margin-top: 100px;

  color: var(--secondary-color);
  padding: 15px 30px;
  text-decoration: none;
}
/* End Pricing */

/* Start Contact */
.contact {
  padding-top: var(--section-padding -20px);
  padding-bottom: var(--section-padding);
}
.contact h2 {
  margin-top: 50px;
}
.contact .content {
  display: flex;
  justify-content: space-around;
}

.contact .row .map {
  top: 0px;

  width: 500px;
  height: 350px;
  border-radius: 80px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.308);
  transition: 0.6s;
  position: relative;
}

@media (min-width: 950px) {
  .contact .row .map:hover {
    width: 550px;
    height: 400px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: row-reverse;
    align-items: center;
  }
  .contact .row .map {
    width: 350px;
    height: 400px;
  }
}
@media (max-width: 500px) {
  .contact .content {
    display: grid;
    justify-content: space-around;
  }
  .contact .row .map {
    width: 400px;
    height: 500px;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer img {
  height: 100px;
  left: calc(50% - 50px);
  top: -70px;
  position: absolute;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.footer .social-icons i:hover {
  color: var(--main-color);
}

.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
